/* You can add global styles to this file, and also import other style files */
body,
html {
  font-family: "roboto", sans-serif !important;
}

$i: 1;

@for $i from 1 through 6 {
  .mt-#{$i} {
    margin-top: #{$i}rem !important;
  }

  .ml-#{$i} {
    margin-left: #{$i}rem !important;
  }
}
